<header>
  <div id="Title">
    Company Systems
  </div>
  <div id="gif1">
    <img src="/images/dancy.gif"/>
  </div>
  </header>
  <body>
  <div id="selections">
    <div id="SMS">
      
    </div>
    <div id="HR">
      
    </div>
  
  </div>
  </body>